<ion-view view-title="О программе">
  <ion-content class="app-content has-padding about-page">
    <p>Сейчас в продаже появилось огромное количество светодиодных ламп со стандартными цоколями, которыми можно заменять обычные и люминисцентные лампы, однако не все они хорошие.</p>

    <p>Вот лишь некоторые недостатки, с которыми можно столкнуться при покупке светодиодных ламп:</p>

    <ul>
      <li>Мощность и яркость гораздо меньше заявленных;</li>
      <li>Некомфортный цвет освещения, низкий CRI;</li>
      <li>Высокая пульсация света (мерцание);</li>
      <li>Узкий угол освещения, лампа светит только вперёд;</li>
      <li>Невозможность работы с выключателями, имеющими индикатор.</li>
    </ul>

    <p>Цель этого приложения - помочь получить объективные данные замеров физических характеристик лампы, просто отсканировав штрихкод с упаковки.</p>

    <p>Более подробную информацию о методике тестирования и оборудовании можно получить на сайте <a href="http://lamptest.ru/page/about">Lamptest</a></p>

    <h2>База данных</h2>
    <p>Всего ламп в базе: {{ ::aboutCtrl.totalLamps }}</p>
    <p>Последнее обновлениe: {{ ::aboutCtrl.latestUpdate}}</p>
  </ion-content>
</ion-view>
