<ion-view view-title="Все лампы">

  <div class="bar bar-header item-input-inset bar-search">
    <label class="item-input-wrapper textbox-search">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Поиск"
             ng-model="listCtrl.keywordSearch"
             ng-change="listCtrl.onSearchChanged()"
      >
    </label>
  </div>

  <ion-content class="app-content has-padding has-searchbar">
    <ion-list>
      <ion-item ng-repeat="lamp in listCtrl.lamps track by lamp.upc" ng-click="listCtrl.lampClicked(lamp.upc)">
        {{lamp.title}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
