page-lamp {
  .lamp-details {
    padding-left: 10px;
    padding-right: 10px;
  }

  .lamp-details table {
    width: 100%;
  }

  .lamp-details tr.even {
    background-color: aliceblue;
  }

  .lamp-details tr.header {
    font-weight: bold;
    background-color: #FFD95D;
  }

  .lamp-details td.better {
    color: green;
  }

  .lamp-details .data-source {
    font-size: 0.9em;
    padding-top: 10px;
  }
}
