@font-face {
    font-family: 'Open Sans Condensed';
    src: url(OpenSans-CondLight.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

h1 {
    font-family: 'Open Sans Condensed';
    margin: 0;
    padding: 0.3em;
    color: #5B5B5B;
    font-size: 2.8em;
    border-bottom: 2px solid #CCCCCC;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Open Sans';
    color: #000;
    font-size: 1.6em;

}

img {
    width: 100%;
}

/*body {
    padding:0;
    margin:0;
    background-color:#EDF1F2;
    color:#333;
    font-family:'Open Sans', arial;
    font-size:15px;
}

a{
    color:#5B5B5B;
}

a:hover{
    text-decoration:none;
    color:#000;
}

.wrap{
    margin:0 auto 0 auto;
    background-color:#FFF;
    width:1200px;
}

.wrap-res{
    margin:0 auto 0 auto;
    background-color:#FFF;
    width:1560px;
}

.header-top{
    background-color:#FFF;
    height:56px;
    border-bottom:6px solid #FFB602;
}

.search-top{
    display:inline-block;
    width:700px;
    height:56px;
    vertical-align:top;
    text-align:right;
    padding-top:20px;
}


.mainmenu{
    list-style:none;
    background-color:#5B5B5B;
    margin:0;
    padding:0;
    font-family:'Open Sans';
    text-transform:uppercase;
    font-weight:bold;
    padding:1em;
    font-size:0.9em;
}

.mainmenu li{
    display:inline;
    margin:0 1em 0 1em;
}

.mainmenu li a{
    color:#FFF;
    text-decoration:none;
}

.mainmenu li a:hover{
    border-bottom:2px solid #F5B325;
}

.horline{
    height:1px;
    border-bottom:2px solid #CCCCCC;
}

.page{
    padding:1em 20px 2em 20px;
}

.content,.sidebar{
    vertical-align:top;
}

.content{
    float:left;
}

.sidebar{
    float:right;
}

.content{
    width:880px;
}

.content img{
    max-width:100%;
}

.content-res{
    margin-right:1em;
    font-size:14px;
}

.sidebar{
    width:235px;
    background-color:#E8E8E8;
    border:1px solid #D4D3D2;
    padding:15px;
    box-sizing: border-box;
    margin:6em 0 0 0;
    font-size:13px;
    color:#000;
}

.sidebar h2{
    padding:0 0 0.3em 0;
    margin:0;
    color:#5B5B5B;
    border-bottom:2px solid #CCCCCC;
    font-family:'Open Sans Condensed';
    font-size:1.8em;
    line-height:1.2em;
}

.sidebar h3{
    font-size:1.2em;
}



.pagenav{
    margin:1em auto 1em auto;
    padding:1em 0 1em 0;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size:1.4em;
}

.pagenavtext, .pagenavlink{
    margin:0.25em;
    padding:0.5em 0.5em 0.5em 0.5em;
    text-decoration:none;
}

.pagenavlink{
    background-color:#E8E8E8;
    color:#333;
}

.pagenavtext{
    color:#333;
}

.pagenavlink:hover{
    background-color:#5B5B5B;
    color:#F5B325;
}

.pagenavactive{
    margin:0.25em;
    padding:0.5em 0.5em 0.5em 0.5em;
    color:#333;
    font-weight:bold;
}*/

/* Circular Content Carousel Style */
/*.ca-container{
    margin:0 auto 20px auto;
}

.ca-wrapper{
    width:100%;
    height:100%;
}

.ca-item{
    display:inline-block;
    width:220px;
    color:#000;
    vertical-align:top;
}

.ca-item-main{
    padding:20px;
    height:238px;
    background-color:#E8E8E8;
    margin:0 4px 0 0;
}

.main_brand{
    font-size:1.2em;
    margin:0;
    padding:0;
}

.main_model{
    font-size:0.9em;
    margin:0;
    padding:0;
}

.ca-item-main img{
    width:180px;
}

.review_button{
    margin-top:0.4em;
    text-align:right;
    font-size:0.8em;
    font-weight:bold;
}

.review_button a{
    padding:0.5em 1em 0.5em 1em;
    background-color:#5B5B5B;
    color:#FFF;
    text-transform:uppercase;
    text-decoration:none;
}

.review_button a:hover{
    color:#F5B325;
}

.reviewgraph, .reviewphoto{
    display:inline-block;
    margin:0.5em;
    vertical-align:top;
    padding:1px;
    border:1px solid #AAA;
}

.reviewgraph{
    width:400px;
}

.reviewphoto{
    width:440px;
}*/

/* Main results table */
/*table{
    border-spacing:0;
    border-collapse:collapse;
    max-width:100%;
}

table, tr, td{
    padding:0;
    margin:0;
}

.maintable table, .maintable tr, .maintable td{
    border:1px solid #D5D5D5;
    color:#000;
}

td .brandtable{
    border-width:0;
}


td{
    padding:1px 3px 1px 3px;
}

.smallfont{
    font-size:1em;
}

.bigfont{
    font-size:1em;
}

.headers{
    text-align:center;
    font-size:0.9em;
}

.dark{
    background-color:#F2F2F2;
}

.bright{
    background-color:#FFF;
}

.sort{
    background-color:#E9E9E9;
}

.lamp_icon{
    width:18px;
    margin:3px 0 0 2px;
}

#filterform{
    width:867px;
}

#filterformsmall, #filterformsmall table, #filterformsmall tr, #filterformsmall td{
    font-size:14px;
}

#filterform, #filterformsmall{
    padding:0.3em 0 0.3em 1em;
    margin:1em 0 1em 0;
    background-color:#E8E8E8;
}

#filterform p, #filterformsmall p{
    padding:0;
    margin:0.5em 0 0.5em 0;
}

input{
    background-color:#FFF;
    border:1px solid #999;
    margin-left:0.2em;
}

label{
    margin-left:0.4em;
}

form label {-moz-user-select: none; -khtml-user-select: none; user-select: none}

.mainmenu, #filterformsmall {cursor: default}

.chbox{
    margin-left:-0.5em;
}

#filterbutton{
    background-color:#5B5B5B;
    color:#F5B325;
    font-size:1.2em;
    padding: 0.01em 1em 0.01em 1em;
    cursor:pointer;
}

#filterbutton:hover{
    cursor:pointer;
}

.footer{
    border-top:6px solid #FFB602;
    background-color:#5B5B5B;
    padding:1em 0 1em 1em;
    color:#FFF;
    font-size:0.9em;
}

.close{
    clear:both;
}

img {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.data-source {
    margin-top: 1em;
    margin-bottom: 1em;
}*/