@font-face {
    font-family: 'Open Sans Condensed';
    src: url(OpenSans-CondLight.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

h1 {
    font-family: 'Open Sans Condensed';
    margin: 0;
    padding: 0.3em;
    color: #5B5B5B;
    font-size: 2.8em;
    border-bottom: 2px solid #CCCCCC;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Open Sans';
    color: #000;
    font-size: 1.6em;

}

img {
    width: 100%;
}

.lamp-details {
  padding-left: 10px;
  padding-right: 10px;
}

.lamp-details table {
  width: 100%;
}

.lamp-details tr.even {
  background-color: aliceblue;
}

.lamp-details .data-source {
  font-size: 0.9em;
  padding-top: 10px;
}

ul.rating li i {
  font-size: 3.5em;
  color: #FFB602;
}
